.cartbox{
    display: flex;
    gap:2rem;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1rem;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.price{
    line-height: 1px;
    text-align: left;
}
button{
    color: white;
    background-color: black;
}
.qty{
    line-height: 1px;
}